﻿@layout TelerikLayout
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <i>Learning is the only thing the mind never exhausts, never fears, and never regrets.</i> &mdash; Leonardo da Vinci

            <a href="https://gitlab.com/m8774/thepoodlenetwork" target="_blank">GitLab</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
