﻿@using Poodle_BlazorApp.Services

@implements IDisposable

@inject StateContainerService StateContainer
@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@inject IUsersService UsersService
@inject IJSRuntime JSRuntime

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href=""><span class="oi oi-script" aria-hidden="true"> </span>  Poodle Academy</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		@if (StateContainer.CourseId == Guid.Empty)
		{
			//search courses
			<div class="nav-item px-3">
				<TelerikAutoComplete Data="@StateContainer.Courses"
								 ScrollMode="@DropDownScrollMode.Virtual"
								 ItemHeight="30"
								 PageSize="20"
								 @bind-Value="@SelectedValue"
								 Filterable="true" FilterOperator="@StringFilterOperator.Contains"
								 OnChange="@Search">
					<AutoCompleteSettings>
						<AutoCompletePopupSettings Height="200px" />
					</AutoCompleteSettings>
				</TelerikAutoComplete>
				<a class="nav-link" href="" @onclick="@Search" @onclick:preventDefault>
					<span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search Courses
				</a>
			</div>
		}
		else
		{
			//Homework and Resources
			<div class="nav-item px-3">
				<a class="nav-link" href="" @onclick="@Homework" @onclick:preventDefault>
					<span class="oi oi-document" aria-hidden="true"></span> Homework
				</a>
			</div>
			<div class="nav-item px-3">
				<a class="nav-link" href="" @onclick="@Resources" @onclick:preventDefault>
					<span class="oi oi-book" aria-hidden="true"></span> Resources
				</a>
			</div>
		}

		@if (string.IsNullOrEmpty(StateContainer.Token))
		{
			<div class="nav-item px-3">
				<a class="nav-link" href="" @onclick="@LogIn" @onclick:preventDefault>
					<span class="oi oi-account-login" aria-hidden="true"></span> Login with&nbsp;<span class="k-icon k-i-google-box" title="Log in with your google account"></span>
				</a>
			</div>
		}
		else
		{
			<div class="nav-item px-3">
				<a class="nav-link" href="" @onclick="@(() => Visible = true)" @onclick:preventDefault>
					<span class="oi oi-person" aria-hidden="true"></span> Profile
				</a>
			</div>
			<div class="nav-item px-3">
				<a class="nav-link" href="" @onclick="@LogOut" @onclick:preventDefault>
					<span class="oi oi-account-logout" aria-hidden="true"></span> Logout with&nbsp;<span class="k-icon k-i-google-box" title="Log out with your google account"></span>
				</a>
			</div>
		}
	</nav>
</div>
<TelerikDialog @bind-Visible="@Visible"
			   Width="355px"
			   ShowCloseButton="true"
			   CloseOnOverlayClick="true">
	<DialogTitle>
		<TelerikIcon Icon="user"></TelerikIcon> <span style="margin-left: 8px">Profile</span>
	</DialogTitle>
	<DialogContent>
		<TelerikCard Width="320px">
			<CardImage Src="@StateContainer.User.Picture.Location"></CardImage>
			<CardBody>
				<CardTitle>@StateContainer.User.FirstName @StateContainer.User.LastName</CardTitle>
				<CardSeparator></CardSeparator>
				<CardSubTitle><span class="k-icon k-i-envelop" title="User E-mail"></span><a href="mailto:@StateContainer.User.Email">@StateContainer.User.Email</a></CardSubTitle>
				<span class="k-icon k-i-wrench" title="User Role"></span><span title="User Role"> @StateContainer.User.Role</span>
			</CardBody>
			<CardFooter Class="k-hbox justify-space-between">
				<span class="k-icon k-i-barcode-outline" title="User Id"></span><span title="User Id">&nbsp;@StateContainer.User.Id</span>
			</CardFooter>
		</TelerikCard>
	</DialogContent>
	<DialogButtons>
		<TelerikButton ThemeColor="@(ThemeConstants.Button.ThemeColor.Secondary)" OnClick="@(() => { Visible = false; })"><span class="k-icon k-i-check"></span> Ok</TelerikButton>
		<TelerikButton ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)" OnClick="@(() => OnClickHandlerDeleteUser(StateContainer.User.Id))"><span class="k-icon k-i-x"></span> Delete Profile</TelerikButton>
	</DialogButtons>
</TelerikDialog>
@code {
	private bool collapseNavMenu = true;
	private bool Visible { get; set; } = false;
	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
	private string? token;

	string SelectedValue { get; set; }

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
	protected async override void OnInitialized()
	{
		base.OnInitialized();

		token = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "token");
		StateContainer.Token = token;
		StateContainer.OnChange += StateHasChanged;
		this.StateHasChanged();
	}

	private void Search()
	{
		StateContainer.Search = SelectedValue;
		this.StateHasChanged();
		StateContainer.OnChange += StateHasChanged;
	}

	private void Homework()
	{
		NavigationManager.NavigateTo("/Homework/" + StateContainer.CourseId);
	}

	private void Resources()
	{
		NavigationManager.NavigateTo("/Resources/" + StateContainer.CourseId);
	}

	private void LogIn()
	{
		AuthService.LogIn();
		StateContainer.OnChange += StateHasChanged;
	}

	private void LogOut()
	{
		AuthService.LogOut();
		StateContainer.OnChange += StateHasChanged;
	}

	async void OnClickHandlerDeleteUser(Guid userId)
	{
		var result = await UsersService.Delete(userId);
		this.LogOut();
	}

	public void Dispose()
	{
		StateContainer.OnChange -= StateHasChanged;
	}
}
