﻿@page "/Course"
@page "/Course/{CourseId:guid}"

@using Telerik.Windows.Documents.Flow.FormatProviders.Txt;
@using Telerik.Windows.Documents.Flow.FormatProviders.Html;
@using Telerik.Windows.Documents.Flow.Model;

@inject ICoursesService CoursesService
@inject ISectionsService SectionsService
@inject StateContainerService StateContainer
@inject NavigationManager NavManager

<TelerikButton Icon="arrow-left" OnClick="() => OnClickHandlerBack()" ThemeColor="secondary">Back to Home</TelerikButton>&nbsp;
<div class="k-card k-card-horizontal">
	<div class="k-vbox k-flex-grow">
		<div class="k-card-body">
			<h4 class="k-card-title">@CourseDetail.Title</h4>
			<CardSeparator></CardSeparator>
			@{
				MarkupString courseDescription = (MarkupString)CourseDetail.Description;
			}
			<p>@courseDescription</p>

		</div>
		<CardSeparator></CardSeparator>

		<div class="k-card-actions k-card-actions-horizontal k-card-actions-start">
			@if (StateContainer.Role == Role.Teacher)
			{
				<TelerikButton Icon="tell-a-friend" OnClick="() => OnClickHandlerEnroll(CourseDetail)" ThemeColor="tertiary">Enroll students</TelerikButton>
				<TelerikButton Icon="pencil" OnClick="() => OnClickHandlerEditCourse(CourseDetail)" ThemeColor="info">Edit Course</TelerikButton>
				<TelerikButton Icon="x" OnClick="() => OnClickHandlerDeleteCourse(CourseDetail)" ThemeColor="error">Delete Course</TelerikButton>
			}
			else
			{
				<TelerikButton Icon="undo" OnClick="() => OnClickHandlerUnenroll(CourseDetail)" ThemeColor="primary">Unenroll</TelerikButton>
			}
		</div>
	</div>
</div>

<div style="display: flex-grow;">
	<TelerikTileLayout @ref="@TileLayoutInstance"
					   Columns="1"
					   OnReorder="@OnReorderHandler"
					   Reorderable="@(StateContainer.Role == Role.Teacher)">
		<TileLayoutItems>
			@if (StateContainer.Role == Role.Teacher)
			{
				<div class="alert alert-info">Drag the header of a section to reorder the them.</div>
				<TelerikButton Icon="file-add" OnClick="() => OnClickHandlerNewSection(CourseDetail)" ThemeColor="success">New Section</TelerikButton>
			}
			@foreach (var context in ListViewData)
			{
				<TileLayoutItem HeaderText="@context.Title" Id="@context.Id.ToString()">
					<Content>
						<div class="k-card-body">
							@{
								var HtmlValue = context.Content?[0..Math.Min(context.Content.Length, 200)] + (context.Content.Length > 200 ? "..." : "");
								HtmlFormatProvider htmlProvider = new HtmlFormatProvider();
								RadFlowDocument document = htmlProvider.Import(HtmlValue);
								TxtFormatProvider txtProvider = new TxtFormatProvider();
								var PlainTxtValue = txtProvider.Export(document);
							}
							<h5 class="k-card-subtitle">@PlainTxtValue</h5>
							<div class="card-date">Open on: @context.OpeningDate</div>
							<div class="card-date">Close on: @context.ClosingDate</div>
						</div>
						<CardSeparator></CardSeparator>
						<div class="k-card-actions k-card-actions-horizontal k-card-actions-start">
							<TelerikButton Icon="page-header-section" ThemeColor="inverse" OnClick="() => OnClickHandlerView(context)" Enabled="@true" FillMode="@(ThemeConstants.Button.FillMode.Flat)">View</TelerikButton>
							@if (StateContainer.Role == Role.Teacher)
							{
								<TelerikButton Icon="pencil" ThemeColor="info" OnClick="() => OnClickHandlerEditSection(context)" Enabled="@(StateContainer.Role == Role.Teacher)" FillMode="@(ThemeConstants.Button.FillMode.Flat)">Edit</TelerikButton>
								<TelerikButton Icon="tell-a-friend" ThemeColor="warning" OnClick="() => OnClickHandlerRestrictSection(context)" Enabled="@(StateContainer.Role == Role.Teacher)" FillMode="@(ThemeConstants.Button.FillMode.Flat)">Restrict</TelerikButton>
								<TelerikButton Icon="x" ThemeColor="error" OnClick="() => OnClickHandlerDeleteSection(context)" Enabled="@(StateContainer.Role == Role.Teacher)" FillMode="@(ThemeConstants.Button.FillMode.Flat)">Delete</TelerikButton>
							}
						</div>
					</Content>
				</TileLayoutItem>
			}
		</TileLayoutItems>
	</TelerikTileLayout>
</div>

@code {
	[Parameter]
	public Guid CourseId { get; set; }

	CourseResponceDto CourseDetail = new CourseResponceDto();

	public TelerikTileLayout TileLayoutInstance { get; set; }
	public IEnumerable<SectionResponceDto> ListViewData { get; set; } = new List<SectionResponceDto>();

	protected async override void OnInitialized()
	{
		base.OnInitialized();
		StateContainer.CourseId = CourseId;

		CourseDetail = await CoursesService.Get(CourseId);

		if (StateContainer.Role == Role.Student && CourseDetail.IsPublic)
		{
			var wasEnrolled = await CoursesService.Enroll(CourseDetail);
		}

		LoadData();
		this.StateHasChanged();
	}

	private void LoadData()
	{
		var Data = CourseDetail.Sections;

		ListViewData = Data.OrderBy(x => x.Order);
	}

	async Task OnReorderHandler(TileLayoutReorderEventArgs args)
	{
		var state = TileLayoutInstance.GetState();
		foreach (var item in state.ItemStates)
		{
			var section = ListViewData.FirstOrDefault(x => x.Id == Guid.Parse(item.Id));
			section.Order = item.Order;

			var result = await SectionsService.Edit(section);
		}
	}

	void OnClickHandlerView(SectionResponceDto viewSection)
	{
		NavManager.NavigateTo("Section/" + viewSection.CourseId + "/" + viewSection.Id);
	}

	void OnClickHandlerEditSection(SectionResponceDto section)
	{
		NavManager.NavigateTo("EditSection/" + section.CourseId + "/" + section.Id);
	}

	void OnClickHandlerRestrictSection(SectionResponceDto section)
	{
		NavManager.NavigateTo("RestrictSection/" + section.CourseId + "/" + section.Id);
	}

	async void OnClickHandlerDeleteSection(SectionResponceDto section)
	{
		var result = await SectionsService.Delete(section);

		CourseDetail = await CoursesService.Get(CourseId);
		LoadData();
		this.StateHasChanged();
	}

	void OnClickHandlerNewSection(CourseResponceDto course)
	{
		NavManager.NavigateTo("NewSection/" + course.Id);
	}

	void OnClickHandlerEnroll(CourseResponceDto course)
	{
		NavManager.NavigateTo("Enroll/" + course.Id);
	}

	async void OnClickHandlerUnenroll(CourseResponceDto course)
	{
		var wasEnrolled = await CoursesService.Unenroll(course);
		NavManager.NavigateTo("/");
	}

	void OnClickHandlerEditCourse(CourseResponceDto course)
	{
		NavManager.NavigateTo("EditCourse/" + course.Id);
	}

	async void OnClickHandlerDeleteCourse(CourseResponceDto course)
	{
		var result = await CoursesService.Delete(course);
		NavManager.NavigateTo("/");
	}

	void OnClickHandlerBack()
	{
		NavManager.NavigateTo("/");
	}
	}
