﻿@page "/EditSection"
@page "/EditSection/{CourseId:guid}/{SectionId:guid}"

@using Telerik.Blazor.Components.Editor

@inject StateContainerService StateContainer
@inject ISectionsService SectionsService
@inject NavigationManager NavManager

@implements IDisposable

<TelerikButton Icon="arrow-left" OnClick="() => OnClickHandlerBack(CourseId)" ThemeColor="secondary">Back to Course</TelerikButton>

<h3>Edit Section</h3>

@if (StateContainer.Role == Role.Teacher)
{
	<div class="demo-section">
		@if (ValidSubmit)
		{
			<div class="demo-alert demo-alert-success" role="alert">
				The form was submitted successfully.
			</div>
		}
		else
		{
			<TelerikForm Model="@Section"
				 OnValidSubmit="@HandleValidSubmit"
				 OnInvalidSubmit="@HandleInvalidSubmit">
				<FormValidation>
					<DataAnnotationsValidator></DataAnnotationsValidator>
				</FormValidation>
				<FormItems>
					<FormItem Field="@nameof(SectionResponceDto.Title)"></FormItem>
					<FormItem Field="@nameof(SectionResponceDto.Content)">
						<Template>
							<TelerikEditor Tools="@MyTools"
								   Height="300px"
								   @bind-Value="@Section.Content"></TelerikEditor>
						</Template>
					</FormItem>
					<div style="width:250px;">
@*						<FormItem Field="@nameof(SectionResponceDto.Order)"></FormItem>
*@						<FormItem Field="@nameof(SectionResponceDto.OpeningDate)" EditorType="@FormEditorType.DatePicker"></FormItem>
						<FormItem Field="@nameof(SectionResponceDto.ClosingDate)" EditorType="@FormEditorType.DatePicker"></FormItem>
					</div>
				</FormItems>
			</TelerikForm>
		}
	</div>
}

@code {
	[Parameter]
	public Guid CourseId { get; set; }

	[Parameter]
	public Guid SectionId { get; set; }

	public List<IEditorTool> MyTools { get; set; } = new List<IEditorTool>(EditorToolSets.Default) { new ViewHtml(), new Undo(), new Redo() };

	public SectionResponceDto Section { get; set; } = new SectionResponceDto();

	public bool ValidSubmit { get; set; } = false;

	protected async override void OnInitialized()
	{
		base.OnInitialized();

		Section = await SectionsService.Get(CourseId, SectionId);
		this.StateHasChanged();
	}

	async void HandleValidSubmit()
	{
		ValidSubmit = true;

		ValidSubmit = await SectionsService.Edit(Section);

		StateHasChanged();
		NavManager.NavigateTo("Section/" + Section.CourseId + "/" + Section.Id);

	}

	void HandleInvalidSubmit()
	{
		ValidSubmit = false;
	}

	void OnClickHandlerBack(Guid courseId)
	{
		NavManager.NavigateTo("Course/" + courseId);
	}

	public void Dispose()
	{
		StateContainer.OnChange -= StateHasChanged;
	}
}
