﻿@page "/EditCourse"
@page "/EditCourse/{CourseId:guid}"

@using Telerik.Blazor.Components.Editor
@inject StateContainerService StateContainer
@inject ICoursesService CoursesService
@inject NavigationManager NavManager

@implements IDisposable

<TelerikButton Icon="arrow-left" OnClick="() => OnClickHandlerBack(CourseId)" ThemeColor="secondary">Back to Course</TelerikButton>

<h3>Edit Course</h3>

@if (StateContainer.Role == Role.Teacher)
{
	<div class="demo-section">
		@if (ValidSubmit)
		{
			<div class="demo-alert demo-alert-success" role="alert">
				The form was submitted successfully.
			</div>
		}
		else
		{
			<TelerikForm Model="@Course"
				 OnValidSubmit="@HandleValidSubmit"
				 OnInvalidSubmit="@HandleInvalidSubmit">
				<FormValidation>
					<DataAnnotationsValidator></DataAnnotationsValidator>
				</FormValidation>
				<FormItems>
					<FormItem Field="@nameof(CourseResponceDto.Title)"></FormItem>
					<FormItem Field="@nameof(CourseResponceDto.Picture)">
						<Template>
							<div class="k-form-field-wrap">
								<TelerikFileSelect AllowedExtensions="@AllowedExtensions"
										   MinFileSize="@MinFileSize"
										   MaxFileSize="@MaxFileSize"
										   Multiple="false"
										   OnSelect="@OnSelectHandler">
								</TelerikFileSelect>
								<div class="k-form-hint">
									Expected files:&nbsp;<strong>JPG, PNG</strong>&nbsp;
									between&nbsp;<strong>1KB</strong>&nbsp;and&nbsp;<strong>4MB</strong>.
								</div>
							</div>
						</Template>
					</FormItem>
					<FormItem Field="@nameof(CourseResponceDto.Description)">
						<Template>
							<TelerikEditor Tools="@MyTools"
								   Height="300px"
								   @bind-Value="@Course.Description"></TelerikEditor>
						</Template>
					</FormItem>
					<FormItem>
						<Template>
							<label for="CourseDto.IsPublic">@nameof(CourseResponceDto.IsPublic)</label>
							<TelerikSwitch @bind-Value="@Course.IsPublic"></TelerikSwitch>
						</Template>
					</FormItem>
				</FormItems>
			</TelerikForm>
		}
	</div>
}

@code {
	[Parameter]
	public Guid CourseId { get; set; }

	public List<IEditorTool> MyTools { get; set; } = new List<IEditorTool>(EditorToolSets.Default) { new ViewHtml(), new Undo(), new Redo() };
	public List<string> AllowedExtensions { get; set; } = new List<string>() { ".jpg", ".png" };
	public int MinFileSize { get; set; } = 1024;
	public int MaxFileSize { get; set; } = 4 * 1024 * 1024;

	public CourseResponceDto Course { get; set; } = new CourseResponceDto();

	public bool ValidSubmit { get; set; } = false;

	protected async override void OnInitialized()
	{
		base.OnInitialized();

		Course = await CoursesService.Get(CourseId);
		this.StateHasChanged();
	}

	async Task OnSelectHandler(FileSelectEventArgs args)
	{
		foreach (var file in args.Files)
		{
			if (!file.InvalidExtension)
			{
				var buffer = new byte[file.Stream.Length];
				await file.Stream.ReadAsync(buffer);
				var base64 = Convert.ToBase64String(buffer);
				Course.Picture = base64;
			}
		}
	}

	async void HandleValidSubmit()
	{
		ValidSubmit = true;

		ValidSubmit = await CoursesService.Edit(Course);

		StateHasChanged();

		NavManager.NavigateTo("Course/" + Course.Id);
	}

	void HandleInvalidSubmit()
	{
		ValidSubmit = false;
	}

	void OnClickHandlerBack(Guid courseId)
	{
		NavManager.NavigateTo("Course/" + courseId);
	}
	public void Dispose()
	{
		StateContainer.OnChange -= StateHasChanged;
	}
}
