﻿@page "/Enroll"
@page "/Enroll/{CourseId:guid}"

@inject StateContainerService StateContainer
@inject ICoursesService CoursesService
@inject IUsersService UsersService
@inject NavigationManager NavManager

<TelerikButton Icon="arrow-left" OnClick="() => OnClickHandlerBack(CourseId)" ThemeColor="secondary">Back to Course</TelerikButton>

@if (StateContainer.Role == Role.Teacher)
{
	<TelerikListView Data=@ListViewData
				 Pageable="true"
				 PageSize="5">
		<HeaderTemplate>
			Enroll and unenroll Students in this Course
		</HeaderTemplate>
		<Template>
			<div class="k-card k-card-horizontal">
				<div class="k-vbox k-flex-grow">
					<div class="k-card-body">
						<h4 class="k-card-title">@context.FirstName @context.LastName</h4>
						<h5 class="k-card-subtitle">@context.Email</h5>
						<div class="card-date">@context.Id</div>
					</div>
					<div class="k-card-actions k-card-actions-horizontal k-card-actions-start">
						<ListViewCommandButton Icon="redo" ThemeColor="success" OnClick="() => EnrollStudent(context.Id)" Enabled="@(Enrolled.FirstOrDefault(x => x.Id == context.Id) == null)" FillMode="@(ThemeConstants.Button.FillMode.Flat)">Enroll</ListViewCommandButton>
						<ListViewCommandButton Icon="undo" ThemeColor="primary" OnClick="() => UnenrollStudent(context.Id)" Enabled="@(!(Enrolled.FirstOrDefault(x => x.Id == context.Id) == null))" FillMode="@(ThemeConstants.Button.FillMode.Flat)">Unenroll</ListViewCommandButton>
					</div>
				</div>
				<img class="k-card-image" src="@context.Picture.Location" />
			</div>
		</Template>
	</TelerikListView>
}

@code {
	[Parameter]
	public Guid CourseId { get; set; }

	public CourseResponceDto Course { get; set; } = new CourseResponceDto();

	public IEnumerable<UserResponceDto> ListViewData { get; set; }

	public List<UserResponceDtoMinimal> Enrolled { get; set; }

	protected async override void OnInitialized()
	{
		base.OnInitialized();
		Course = await CoursesService.Get(CourseId);
		Enrolled = Course.Users.ToList();
		ListViewData = await UsersService.Get();

		this.StateHasChanged();
	}

	private async void EnrollStudent(Guid userId)
	{
		var wasEnrolled = await CoursesService.Enroll(Course, userId);
		if (wasEnrolled)
		{
			Enrolled.Add(ListViewData.First(x => x.Id == userId));

			this.StateHasChanged();
		}
	}

	private async void UnenrollStudent(Guid userId)
	{
		var wasUnenrolled = await CoursesService.Unenroll(Course, userId);
		if (wasUnenrolled)
		{
			Enrolled.Remove(Enrolled.First(x => x.Id == userId));

			this.StateHasChanged();
		}
	}

	void OnClickHandlerBack(Guid courseId)
	{
		NavManager.NavigateTo("Course/" + courseId);
	}
}
<style>
	.k-listview-header {
		padding: 20px 28px;
		text-transform: uppercase;
	}

	.k-card {
		padding: 20px;
		border-width: 0 0 1px 0;
		border-radius: 0;
		box-shadow: none;
	}

		.k-card:last-child {
			border-bottom: 0;
		}

		.k-card .k-card-body,
		.k-card .k-card-actions {
			padding: 0 8px;
		}

		.k-card .k-card-image {
			max-width: unset;
		}

	.k-card-horizontal > .k-card-image:last-child {
		border-radius: 0;
	}

	.k-card .k-card-title {
		padding: 0;
		font-size: 1.285em;
		font-weight: bold;
		line-height: normal;
	}

	.k-card-subtitle {
		font-size: 1em;
	}

	.card-date {
		font-size: 0.85em;
		color: #bababa;
	}
</style>