﻿@page "/Homework"
@page "/Homework/{CourseId:guid}"

@inject StateContainerService StateContainer
@inject ICoursesService CoursesService
@inject IUsersService UsersService
@inject NavigationManager NavManager

<TelerikButton Icon="arrow-left" OnClick="() => OnClickHandlerBack(CourseId)" ThemeColor="secondary">Back to Course</TelerikButton>

@if (StateContainer.Role == Role.Student)
{
	<h3>Upload Homework</h3>
	<div class="k-form-field-wrap">
		<TelerikFileSelect AllowedExtensions="@AllowedExtensions"
					   MinFileSize="@MinFileSize"
					   MaxFileSize="@MaxFileSize"
					   Multiple="true"
					   OnSelect="@OnSelectHandler">
		</TelerikFileSelect>
		<div class="k-form-hint">
			Expected files:&nbsp;<strong>ZIP</strong>&nbsp;
			between&nbsp;<strong>1KB</strong>&nbsp;and&nbsp;<strong>10MB</strong>.
		</div>
	</div>
	<TelerikButton Icon="arrow-up" OnClick="() => OnClickHandlerUpload()" ThemeColor="primary">Upload Homework</TelerikButton>
}

<TelerikListView Data=@Homeworks
				 Pageable="true"
				 PageSize="5">
	<HeaderTemplate>
		Uploaded homeworks in this Course
	</HeaderTemplate>
	<Template>
		<div class="k-card k-card-horizontal">
			<div class="k-vbox k-flex-grow">
				<div class="k-card-body">
					<h4 class="k-card-title">
						<TelerikIcon Icon="file-zip"></TelerikIcon>
						<a href="@context.Location">@context.Location</a>
					</h4>
					@if (StateContainer.Role == Role.Teacher)
					{
						HomeworkGradeDto newGrade = new HomeworkGradeDto();
						
						newGrade.HomeworkId = context.Id;
						<div style="width:100px;">
							<TelerikNumericTextBox @bind-Value="@context.Grade" Rounded="Full"></TelerikNumericTextBox>
							<TelerikButton Icon="pencil" ThemeColor="error" OnClick="() => OnClickHandlerGrade(newGrade, context.Grade)" FillMode="@(ThemeConstants.Button.FillMode.Flat)">Grade</TelerikButton>
						</div>
					}
					else
					{
						string grade = context.Grade == 0 ? "Not yet graded" : context.Grade.ToString();

						<h5 class="k-card-subtitle">Grade:&nbsp;@grade</h5>
					}
					<div class="card-date">@context.Id</div>

				</div>
			</div>
		</div>
	</Template>
</TelerikListView>

@code {
	[Parameter]
	public Guid CourseId { get; set; }
	public List<string> AllowedExtensions { get; set; } = new List<string>() { ".zip" };
	public int MinFileSize { get; set; } = 1024;
	public int MaxFileSize { get; set; } = 10 * 1024 * 1024;

	public IEnumerable<HomeworkResponceDto> Homeworks { get; set; } = new List<HomeworkResponceDto>();
	public FileDto NewHomework { get; set; } = new FileDto();

	protected async override void OnInitialized()
	{
		base.OnInitialized();

		Homeworks = await CoursesService.GetHomework(CourseId, StateContainer.User.Id);
		NewHomework.CourseId = CourseId;
		NewHomework.UserId = StateContainer.User.Id;
		NewHomework.Files = new Dictionary<string, string>();

		this.StateHasChanged();
	}

	async Task OnSelectHandler(FileSelectEventArgs args)
	{
		foreach (var file in args.Files)
		{
			if (!file.InvalidExtension)
			{
				var buffer = new byte[file.Stream.Length];
				await file.Stream.ReadAsync(buffer);
				var base64 = Convert.ToBase64String(buffer);
				NewHomework.Files.Add(base64, file.Name);
			}
		}
	}

	async void OnClickHandlerUpload()
	{
		await CoursesService.UploadHomework(NewHomework);
		Homeworks = await CoursesService.GetHomework(CourseId, StateContainer.User.Id);

		StateHasChanged();
	}

	async void OnClickHandlerGrade(HomeworkGradeDto newGrade, int grade)
	{
		newGrade.Grade = grade;
		var validgrade = await CoursesService.GradeHomework(CourseId, newGrade);
	}

	async void OnClickHandlerDelete(Guid homeworkId)
	{
		var isDeleted = await CoursesService.DeleteHomework(CourseId, homeworkId);
		Homeworks = await CoursesService.GetHomework(CourseId, StateContainer.User.Id);

		StateHasChanged();
	}

	void OnClickHandlerBack(Guid courseId)
	{
		NavManager.NavigateTo("Course/" + courseId);
	}
}
<style>
	.k-listview-header {
		padding: 20px 28px;
		text-transform: uppercase;
	}

	.k-card {
		padding: 20px;
		border-width: 0 0 1px 0;
		border-radius: 0;
		box-shadow: none;
	}

		.k-card:last-child {
			border-bottom: 0;
		}

		.k-card .k-card-body,
		.k-card .k-card-actions {
			padding: 0 8px;
		}

		.k-card .k-card-image {
			max-width: unset;
		}

	.k-card-horizontal > .k-card-image:last-child {
		border-radius: 0;
	}

	.k-card .k-card-title {
		padding: 0;
		font-size: 1.285em;
		font-weight: bold;
		line-height: normal;
	}

	.k-card-subtitle {
		font-size: 1em;
	}

	.card-date {
		font-size: 0.85em;
		color: #bababa;
	}
</style>