﻿@page "/"

@using Telerik.Windows.Documents.Flow.FormatProviders.Txt;
@using Telerik.Windows.Documents.Flow.FormatProviders.Html;
@using Telerik.Windows.Documents.Flow.Model;

@implements IDisposable

@inject NavigationManager NavManager
@inject StateContainerService StateContainer
@inject IAuthService AuthService
@inject IJSRuntime JSRuntime
@inject ICoursesService CoursesService

<PageTitle>Index</PageTitle>

<h1>Let's learn together!</h1>

<div class="k-card-deck flex-center flex-wrap">
	@if (StateContainer.Role == Role.Teacher)
	{
		<TelerikCard Width="250px">
			<CardImage Src="https://demos.telerik.com/blazor-ui/images/articles/4-220x140.png"></CardImage>
			<CardBody>
				<CardTitle>A new Course!</CardTitle>
				<CardSeparator></CardSeparator>
				<CardSubTitle>Please add Title and Description when creating a new Course.</CardSubTitle>
			</CardBody>
			<CardActions>
				<TelerikButton Icon="file-add" ThemeColor="success" OnClick="() => OnClickHandlerNewCourse()" FillMode="@(ThemeConstants.Button.FillMode.Flat)">Create Course</TelerikButton>
			</CardActions>
			<CardFooter Class="k-hbox justify-space-between">
				<span class="k-icon k-i-accessibility" title="Only for teachers"></span> You're logged in as a teacher
			</CardFooter>
		</TelerikCard>

	}
	@foreach (var item in Data)
	{
		if (!string.IsNullOrEmpty(StateContainer.Search) && !item.Title.ToLower().Contains(StateContainer.Search.ToLower()))
		{
			continue;
		}
		
		<TelerikCard Width="250px">
			<CardImage Src="@item.Picture"></CardImage>
			<CardBody>
				<CardTitle>@item.Title</CardTitle>
				<CardSeparator></CardSeparator>
				@{
					var HtmlValue = item.Description?[0..Math.Min(item.Description.Length, 200)] + (item.Description.Length > 200 ? "..." : "");
					HtmlFormatProvider htmlProvider = new HtmlFormatProvider();
					RadFlowDocument document = htmlProvider.Import(HtmlValue);
					TxtFormatProvider txtProvider = new TxtFormatProvider();
					var PlainTxtValue = txtProvider.Export(document);
				}
				<CardSubTitle>@PlainTxtValue</CardSubTitle>
			</CardBody>

			@if (!string.IsNullOrEmpty(StateContainer.Token))
			{
				<CardActions>
					<TelerikButton Icon="page-header-section" ThemeColor="inverse" OnClick="() => OnClickHandlerDetails(item)" FillMode="@(ThemeConstants.Button.FillMode.Flat)">Details</TelerikButton>
				</CardActions>
			}

			<CardFooter Class="k-hbox justify-content-center">
				@{
					var visibility = item.IsPublic ? "Public" : "Private";
				}
				<span class="k-icon k-i-tell-a-friend" title="Enrolled students"></span><span title="Enrolled students" class="card-icons">@item.Users.Count</span>
				<span class="k-icon k-i-toc-section" title="Sections in the course"></span><span title="Sections in the course" class="card-icons">@item.Sections.Count</span>
				<span class="k-icon k-i-eye" title="Visibility of the course"></span><span title="Visibility of the course" class="card-icons">@visibility</span>
			</CardFooter>
		</TelerikCard>
	}
</div>

@code {
	[Parameter]
	[SupplyParameterFromQuery]
	public string? Code { get; set; }

	private string token;
	private GoogleUserOutputData user;

	public IEnumerable<CourseResponceDto> Data { get; set; } = new List<CourseResponceDto>();
	protected async override void OnInitialized()
	{
		base.OnInitialized();

		StateContainer.CourseId = Guid.Empty;

		token = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "token");

		if (!string.IsNullOrEmpty(Code))
		{
			token = await AuthService.GetToken(Code);
		}
		if (!string.IsNullOrEmpty(token))
		{
			user = await AuthService.GetUserInfo();
			StateContainer.User = await AuthService.GetUser(user.Email);
			StateContainer.Role = StateContainer.User.Role;
		}
		StateContainer.Token = token;

		Data = await CoursesService.Get();
		StateContainer.Courses = Data.Select(t => t.Title).ToList();

		StateContainer.OnChange += StateHasChanged;
		this.StateHasChanged();
	}

	private void OnClickHandlerDetails(CourseResponceDto courseDetail)
	{
		NavManager.NavigateTo("Course/" + courseDetail.Id);
	}

	private void OnClickHandlerNewCourse()
	{
		NavManager.NavigateTo("NewCourse");
	}

	public void Dispose()
	{
		StateContainer.OnChange -= StateHasChanged;
	}
}
<style>
	.flex-wrap {
		flex-wrap: wrap;
	}

	.card-icons {
		margin-left: 5px;
		margin-right: 15px;
	}
</style>