﻿@page "/NewSection"
@page "/NewSection/{CourseId:guid}"

@using Telerik.Blazor.Components.Editor
@inject StateContainerService StateContainer
@inject ISectionsService SectionsService
@inject ICoursesService CoursesService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager

@implements IDisposable

<TelerikButton Icon="arrow-left" OnClick="() => OnClickHandlerBack(CourseId)" ThemeColor="secondary">Back to Course</TelerikButton>

<h3>New Section</h3>

@if (StateContainer.Role == Role.Teacher)
{
	<div class="demo-section">
		@if (ValidSubmit)
		{
			<div class="demo-alert demo-alert-success" role="alert">
				The form was submitted successfully.
			</div>
		}
		else
		{
			<TelerikForm Model="@Section"
				 OnValidSubmit="@HandleValidSubmit"
				 OnInvalidSubmit="@HandleInvalidSubmit">
				<FormValidation>
					<DataAnnotationsValidator></DataAnnotationsValidator>
				</FormValidation>
				<FormItems>
					<FormItem Field="@nameof(SectionDto.Title)"></FormItem>
					<FormItem Field="@nameof(SectionDto.Content)">
						<Template>
							<TelerikEditor Tools="@MyTools"
								   Height="300px"
								   @bind-Value="@Section.Content"></TelerikEditor>
						</Template>
					</FormItem>
					<div style="width:250px;">
@*						<FormItem Field="@nameof(SectionDto.Order)"></FormItem>
*@						<FormItem Field="@nameof(SectionDto.OpeningDate)" EditorType="@FormEditorType.DatePicker"></FormItem>
						<FormItem Field="@nameof(SectionDto.ClosingDate)" EditorType="@FormEditorType.DatePicker"></FormItem>
					</div>
				</FormItems>
			</TelerikForm>
		}
	</div>
}

@code {
	[Parameter]
	public Guid CourseId { get; set; }

	public List<IEditorTool> MyTools { get; set; } = new List<IEditorTool>(EditorToolSets.Default) { new ViewHtml(), new Undo(), new Redo() };

	CourseResponceDto Course = new CourseResponceDto();
	public SectionDto Section { get; set; } = new SectionDto()
		{
			Title = "Enter title...",
			Content = "Enter content...",
			Order = 0,
			OpeningDate = DateTime.Now,
			ClosingDate = DateTime.Now.AddYears(1),
			//RestrictedUsers = new List<UserResponceDtoMinimal>()
		};

	public bool ValidSubmit { get; set; } = false;

	protected async override void OnInitialized()
	{
		base.OnInitialized();

		Course = await CoursesService.Get(CourseId);

		Section.CourseId = Course.Id;
		this.StateHasChanged();
	}

	async void HandleValidSubmit()
	{
		ValidSubmit = true;

		ValidSubmit = await SectionsService.Create(Section, Course);

		NavManager.NavigateTo("Course/" + Section.CourseId);

		StateHasChanged();
	}

	void HandleInvalidSubmit()
	{
		ValidSubmit = false;
	}

	void OnClickHandlerBack(Guid courseId)
	{
		NavManager.NavigateTo("Course/" + courseId);
	}
	public void Dispose()
	{
		StateContainer.OnChange -= StateHasChanged;
	}
}