﻿@page "/Resources"
@page "/Resources/{CourseId:guid}"

@inject StateContainerService StateContainer
@inject ICoursesService CoursesService
@inject IUsersService UsersService
@inject NavigationManager NavManager

<TelerikButton Icon="arrow-left" OnClick="() => OnClickHandlerBack(CourseId)" ThemeColor="secondary">Back to Course</TelerikButton>

@if (StateContainer.Role == Role.Teacher)
{
	<h3>Upload Resources</h3>
	<div class="k-form-field-wrap">
		<TelerikFileSelect AllowedExtensions="@AllowedExtensions"
					   MinFileSize="@MinFileSize"
					   MaxFileSize="@MaxFileSize"
					   Multiple="true"
					   OnSelect="@OnSelectHandler">
		</TelerikFileSelect>
		<div class="k-form-hint">
			Expected files:&nbsp;<strong>DOCX, XLSX, PPTX, PDF</strong>&nbsp;
			between&nbsp;<strong>1KB</strong>&nbsp;and&nbsp;<strong>10MB</strong>.
		</div>
	</div>
	<TelerikButton Icon="arrow-up" OnClick="() => OnClickHandlerUpload()" ThemeColor="primary">Upload Resource</TelerikButton>
}

<TelerikListView Data=@Resource
				 Pageable="true"
				 PageSize="5">
	<HeaderTemplate>
		Uploaded resources in this Course
	</HeaderTemplate>
	<Template>
		<div class="k-card k-card-horizontal">
			<div class="k-vbox k-flex-grow">
				<div class="k-card-body">
					<h4 class="k-card-title">
						<TelerikIcon Icon="document-manager"></TelerikIcon>
						<a href="@context.Location">@context.Location</a>
					</h4>
					<div class="card-date">@context.Id</div>
				</div>
			</div>
			@if (StateContainer.Role == Role.Teacher)
			{
				<TelerikButton Icon="x" OnClick="() => OnClickHandlerDelete(context.Id)" ThemeColor="error">Delete file</TelerikButton>
			}
		</div>
	</Template>
</TelerikListView>

@code {
	[Parameter]
	public Guid CourseId { get; set; }
	public List<string> AllowedExtensions { get; set; } = new List<string>() { ".docx", ".xlsx", ".pptx", ".pdf" };
	public int MinFileSize { get; set; } = 1024;
	public int MaxFileSize { get; set; } = 10 * 1024 * 1024;

	public IEnumerable<ResourcesResponceDto> Resource { get; set; } = new List<ResourcesResponceDto>();
	public FileDto NewResources { get; set; } = new FileDto();

	protected async override void OnInitialized()
	{
		base.OnInitialized();

		Resource = await CoursesService.GetResources(CourseId);
		NewResources.CourseId = CourseId;
		NewResources.UserId = StateContainer.User.Id;
		NewResources.Files = new Dictionary<string, string>();

		this.StateHasChanged();
	}

	async Task OnSelectHandler(FileSelectEventArgs args)
	{
		foreach (var file in args.Files)
		{
			if (!file.InvalidExtension)
			{
				var buffer = new byte[file.Stream.Length];
				await file.Stream.ReadAsync(buffer);
				var base64 = Convert.ToBase64String(buffer);
				NewResources.Files.Add(base64, file.Name);
			}
		}
	}

	async void OnClickHandlerUpload()
	{
		await CoursesService.UploadResources(NewResources);
		Resource = await CoursesService.GetResources(CourseId);
		
		StateHasChanged();
	}

	async void OnClickHandlerDelete(Guid resourceId)
	{
		var isDeleted = await CoursesService.DeleteResource(CourseId, resourceId);
		Resource = await CoursesService.GetResources(CourseId);

		StateHasChanged();
	}

	void OnClickHandlerBack(Guid courseId)
	{
		NavManager.NavigateTo("Course/" + courseId);
	}
}
<style>
	.k-listview-header {
		padding: 20px 28px;
		text-transform: uppercase;
	}

	.k-card {
		padding: 20px;
		border-width: 0 0 1px 0;
		border-radius: 0;
		box-shadow: none;
	}

		.k-card:last-child {
			border-bottom: 0;
		}

		.k-card .k-card-body,
		.k-card .k-card-actions {
			padding: 0 8px;
		}

		.k-card .k-card-image {
			max-width: unset;
		}

	.k-card-horizontal > .k-card-image:last-child {
		border-radius: 0;
	}

	.k-card .k-card-title {
		padding: 0;
		font-size: 1.285em;
		font-weight: bold;
		line-height: normal;
	}

	.k-card-subtitle {
		font-size: 1em;
	}

	.card-date {
		font-size: 0.85em;
		color: #bababa;
	}
</style>