﻿@page "/RestrictSection"
@page "/RestrictSection/{CourseId:guid}/{SectionId:guid}"

@inject StateContainerService StateContainer
@inject ISectionsService SectionsService
@inject IUsersService UsersService
@inject NavigationManager NavManager

<TelerikButton Icon="arrow-left" OnClick="() => OnClickHandlerBack(CourseId)" ThemeColor="secondary">Back to Course</TelerikButton>

@if (StateContainer.Role == Role.Teacher)
{
	<TelerikListView Data=@ListViewData
				 Pageable="true"
				 PageSize="5">
		<HeaderTemplate>
			Restrict and unrestrict Students in this Section
		</HeaderTemplate>
		<Template>
			<div class="k-card k-card-horizontal">
				<div class="k-vbox k-flex-grow">
					<div class="k-card-body">
						<h4 class="k-card-title">@context.FirstName @context.LastName</h4>
						<h5 class="k-card-subtitle">@context.Email</h5>
						<div class="card-date">@context.Id</div>
					</div>
					<div class="k-card-actions k-card-actions-horizontal k-card-actions-start">
						<ListViewCommandButton Icon="redo" ThemeColor="success" OnClick="() => RestrictStudent(context.Id)" Enabled="@(Restricted.FirstOrDefault(x => x.Id == context.Id) == null)" FillMode="@(ThemeConstants.Button.FillMode.Flat)">Restrict</ListViewCommandButton>
						<ListViewCommandButton Icon="undo" ThemeColor="primary" OnClick="() => UnrestrictStudent(context.Id)" Enabled="@(!(Restricted.FirstOrDefault(x => x.Id == context.Id) == null))" FillMode="@(ThemeConstants.Button.FillMode.Flat)">Unrestrict</ListViewCommandButton>
					</div>
				</div>
				<img class="k-card-image" src="@context.Picture.Location" />
			</div>
		</Template>
	</TelerikListView>
}

@code {
	[Parameter]
	public Guid CourseId { get; set; }

	[Parameter]
	public Guid SectionId { get; set; }

	public SectionResponceDto Section { get; set; }

	public IEnumerable<UserResponceDto> ListViewData { get; set; }

	public List<UserResponceDto> Restricted { get; set; }

	protected async override void OnInitialized()
	{
		base.OnInitialized();
		Section = await SectionsService.Get(CourseId, SectionId);
		Restricted = Section.RestrictedUsers.ToList();
		ListViewData = await UsersService.Get();

		this.StateHasChanged();
	}

	private async void RestrictStudent(Guid userId)
	{
		var wasRestricted = await SectionsService.Restrict(Section, userId);
		if (wasRestricted)
		{
			Restricted.Add(ListViewData.First(x => x.Id == userId));

			this.StateHasChanged();
		}
	}

	private async void UnrestrictStudent(Guid userId)
	{
		var wasUnrestricted = await SectionsService.Unrestrict(Section, userId);
		if (wasUnrestricted)
		{
			Restricted.Remove(Restricted.First(x => x.Id == userId));

			this.StateHasChanged();
		}
	}

	void OnClickHandlerBack(Guid courseId)
	{
		NavManager.NavigateTo("Course/" + courseId);
	}
}
<style>
	.k-listview-header {
		padding: 20px 28px;
		text-transform: uppercase;
	}

	.k-card {
		padding: 20px;
		border-width: 0 0 1px 0;
		border-radius: 0;
		box-shadow: none;
	}

		.k-card:last-child {
			border-bottom: 0;
		}

		.k-card .k-card-body,
		.k-card .k-card-actions {
			padding: 0 8px;
		}

		.k-card .k-card-image {
			max-width: unset;
		}

	.k-card-horizontal > .k-card-image:last-child {
		border-radius: 0;
	}

	.k-card .k-card-title {
		padding: 0;
		font-size: 1.285em;
		font-weight: bold;
		line-height: normal;
	}

	.k-card-subtitle {
		font-size: 1em;
	}

	.card-date {
		font-size: 0.85em;
		color: #bababa;
	}
</style>