﻿@page "/Section"
@page "/Section/{CourseId:guid}/{SectionId:guid}"

@using Telerik.Blazor.Components.Editor

@inject StateContainerService StateContainer
@inject NavigationManager NavManager
@inject ISectionsService SectionsService
@inject ICoursesService CoursesService

@implements IDisposable

<TelerikButton Icon="arrow-left" OnClick="() => OnClickHandlerBack(ViewSection.CourseId)" ThemeColor="secondary">Back to Course</TelerikButton>

<TelerikCard>
	<CardBody>
		<CardTitle>@ViewSection.Title</CardTitle>
		<CardSubTitle>Open: @ViewSection.OpeningDate</CardSubTitle>
		<CardSubTitle>Close: @ViewSection.ClosingDate</CardSubTitle>
		<CardSeparator></CardSeparator>
		@{
			MarkupString content = (MarkupString)ViewSection.Content;
		}
		<p>@content</p>
	</CardBody>
	<CardActions>
		@if (StateContainer.Role == Role.Teacher)
		{
			<TelerikButton Icon="pencil" OnClick="() => OnClickHandlerEdit(ViewSection)" ThemeColor="info">Edit</TelerikButton>
			<TelerikButton Icon="tell-a-friend" OnClick="() => OnClickHandlerRestrict(ViewSection)" ThemeColor="warning">Restrict Section</TelerikButton>
			<TelerikButton Icon="x" OnClick="() => OnClickHandlerDelete(ViewSection)" ThemeColor="error">Delete</TelerikButton>
		}
	</CardActions>
	<CardFooter Class="k-hbox justify-space-between">
		<span class="k-icon k-i-list-ordered" title="Order of the section in the course"></span>&nbsp;<span title="Order of the section in the course"> @ViewSection.Order</span>
	</CardFooter>
</TelerikCard>

@code {
	[Parameter]
	public Guid CourseId { get; set; }

	[Parameter]
	public Guid SectionId { get; set; }

	public SectionResponceDto ViewSection { get; set; } = new SectionResponceDto();

	protected async override void OnInitialized()
	{
		base.OnInitialized();

		ViewSection = await SectionsService.Get(CourseId, SectionId);
		this.StateHasChanged();
	}

	void OnClickHandlerBack(Guid courseId)
	{
		NavManager.NavigateTo("Course/" + courseId);
	}

	void OnClickHandlerRestrict(SectionResponceDto section)
	{
		NavManager.NavigateTo("RestrictSection/" + section.CourseId + "/" + section.Id);
	}

	void OnClickHandlerEdit(SectionResponceDto section)
	{
		NavManager.NavigateTo("EditSection/" + section.CourseId + "/" + section.Id);
	}

	async void OnClickHandlerDelete(SectionResponceDto section)
	{
		var result = await SectionsService.Delete(section);

		NavManager.NavigateTo("Course/" + section.CourseId);
	}

	public void Dispose()
	{
		StateContainer.OnChange -= StateHasChanged;
	}
}
